
    <header>
        <h1>Benjamin Legrand</h1> Resume<br/>
        <h2>Concepteur D&eacute;veloppeur</h2>
        <p>Front-end, html5, css3, java, php etc...</p>
    </header>
    <ul class="tabs">
    {% if (debug)%}
    <li>
        <a href="#debug">Debug</a>
        <ul id="debugZone" style="display:none;">
            <li>app<ul><li>{{ app.name }}</li></ul></li>
            <li>rootUri<ul><li>{{ rootUri }}</li></ul></li>
            <li>debug<ul><li>{{ debug }}</li></ul></li>
            <li>assetUri<ul><li>{{ assetUri }}</li></ul></li>
            <li>resourceUri<ul><li>{{ resourceUri }}</li></ul></li>
        </ul>
    </li>
    {% endif %}
</ul>